{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="root">
  <h1 class="title">원하는 얼굴 이미지 업로드</h1>
  <form method="POST" action="{% url 'faceswap:upload_img' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="contents">
      <div class="upload-box">
        <div id="drop-file" class="drag-file">
          <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
          <p class="message">Drag files to upload</p>
        </div>
        <input type="hidden" name="target_image" value="{{ image_path }}">
        <label class="file-label" for="source_image">Choose File for Source Image</label>
        <input class="file" id="source_image" type="file" name="source_image" accept="image/*" onchange="dropFile.handleFiles(this.files)" required>
      </div>
      <div id="files" class="files">
      </div>

    </div>
    <hr>
    <div style="display: flex; justify-content: right;">
      <button type="submit" class="btn btn-success" style="width: 12rem">이미지 업로드</button>
    </div>
  </form>
</div>

<script src="{% static 'faceswap/img_upload.js' %}"></script>

{% endblock %}